.shrink-underline {
    text-decoration: none;
    color: inherit;
    display: inline-block;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: currentColor;
        transform: scaleX(1);
        transform-origin: center;
        transition: transform 0.35s ease;
    }

    &:hover::after {
        transform: scaleX(0.5);
        transform-origin: center;
    }
}

.shrink-underline-btn {
    span {
        text-decoration: none;
        color: inherit;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background: currentColor;
            transform: scaleX(1);
            transform-origin: center;
            transition: transform 0.35s ease;
        }

    }

    &:hover span::after {
        transform: scaleX(0.5);
        transform-origin: center;
    }
}



/* ============================ */
/*        Shared Styles         */
/* ============================ */

.fit {
    width: min(100%, 350px);
    aspect-ratio: 450 / 550;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
}

@media (min-width: 1200px) {
    .fit {
        max-width: 360px;
    }
}

@media (min-width: 768px) {
    .fit {
        width: 100%;
        aspect-ratio: auto;
        min-height: 320px;
    }
}

/* Images for Personal Fit section */
.fit-img-1 {
    background-image: url("../images/catimg1.webp");
}

.fit-img-2 {
    background-image: url("../images/cnc_carving_panels/23.webp");
}

.fit-img-3 {
    background-image: url("../images/waterjet_floorings/65.webp");
}

.fit-img-4 {
    background-image: url("../images/inlays/44.webp");
}

.fit-img-5 {
    background-image: url("../images/italian_glass/51.webp");
}

.fit-img-6 {
    background-image: url("../images/furniture_in_marble/38.webp");
}

.fit-img-7 {
    background-image: url("../images/articles_in_precious_stones/14.webp");
}

.fit-img-8 {
    background-image: url("../images/metal_with_precious_stones/m2p.webp");
}

/* Images */
.prod-img-1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/prod-1.webp");
}

.prod-img-2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/prod-2.webp");
}

.prod-img-3 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/prod-3.webp");
}

.prod-img-4 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/prod-4.webp");
}

.text-md {
    font-size: 17px;
}