.shrink-underline {
    text-decoration: none;
    color: inherit;
    display: inline-block;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: currentColor;
        transform: scaleX(1);
        transform-origin: center;
        transition: transform 0.35s ease;
    }

    &:hover::after {
        transform: scaleX(0.5);
        transform-origin: center;
    }
}

.shrink-underline-btn {
    span {
        text-decoration: none;
        color: inherit;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background: currentColor;
            transform: scaleX(1);
            transform-origin: center;
            transition: transform 0.35s ease;
        }

    }

    &:hover span::after {
        transform: scaleX(0.5);
        transform-origin: center;
    }
}



/* ============================ */
/*        Shared Styles         */
/* ============================ */

.fit {
    width: 450px;
    height: 550px;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Images for Personal Fit section */
.fit-img-1 {
    background-image: url("../images/catimg1.png");
}

.fit-img-2 {
    background-image: url("../images/cnc_carving_panels/23.jpg");
}

.fit-img-3 {
    background-image: url("../images/cat-img-8.png");
}

.fit-img-4 {
    background-image: url("../images/inlays/44.jpg");
}

.fit-img-5 {
    background-image: url("../images/inlays/44.jpg");
}

.fit-img-6 {
    background-image: url("../images/inlays/44.jpg");
}

.fit-img-7 {
    background-image: url("../images/inlays/44.jpg");
}

.fit-img-8 {
    background-image: url("../images/inlays/44.jpg");
}

/* Images */
.prod-img-1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/prod-1.png");
}

.prod-img-2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/prod-2.png");
}

.prod-img-3 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/prod-3.png");
}

.prod-img-4 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/prod-4.png");
}

.text-md {
    font-size: 17px;
}