@import "../shared.css";


/* ================================ */
/*     Newsletter Footer Styles     */
/* ================================ */
.newsletter-footer {
    /* background: #f3f3f3; */
    padding: 60px 20px 80px;
}

.brand-logo {
    text-align: center;
    margin-bottom: 30px;
}


/* If using text instead of image */
.brand-logo h2 {
    font-size: 90px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.newsletter-box {
    max-width: 980px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

.offer-text {
    padding: 35px 25px;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.email-box {
    display: flex;
    align-items: center;
    border-left: 1px solid #d9d9d9;
}

.email-box input {
    flex: 1;
    border: none;
    background: transparent;
    padding: 35px 25px;
    font-size: 16px;
    outline: none;
}

.email-box button {
    width: 80px;
    border: none;
    background: transparent;
    font-size: 38px;
    cursor: pointer;
    color: #000;
}

.footer-links {
    margin-top: 65px;
    display: flex;
    justify-content: center;
    gap: 42px;
    flex-wrap: wrap;
}

.footer-links a {
    text-decoration: none;
    color: #222;
    font-size: 16px;
    transition: opacity 0.3s ease;
}

.footer-links a:hover {
    opacity: 0.6;
}




/*======================== */
/*     Contact  Footer    */
/* ====================== */

.site-footer {
    border-top: 1px solid #d9d9d9;
    background: #f3f3f3;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 35px 50px;
    font-size: 12px;
    font-weight: 400;
}

.footer-left {
    color: #111;
}

.footer-center,
.footer-right {
    display: flex;
    align-items: center;
    gap: 60px;
}

.site-footer a {
    text-decoration: none;
    color: #111;
    transition: opacity 0.3s ease;
}

.site-footer a:hover {
    opacity: 0.6;
}
