@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import "../shared.css";

/* HEADER STYLES */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #ffffff26;
    backdrop-filter: blur(8px);

    z-index: 1000;
}

.logo {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -1px;
    color: #000;
}

nav > ul {
    display: flex;
    gap: 50px;
}

nav li {
    list-style: none;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    opacity: 0.6;
}


/* sub-nav-list */
.sub-nav-list {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: clamp(100px, 8vw, 200px);
    background: #ffffff;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    border-top: 2px solid #d3d2d2;
}

.sub-nav-list li {
    padding: 0;
}

.sub-nav-list a {
    display: block;
    padding: 16px 24px;
    color: #333;
    font-size: 12px;
    text-transform: uppercase;
}

/* Show sub-nav-list when parent OR sub-nav-list is hovered */
.has-sub-nav-list:hover .sub-nav-list,
.sub-nav-list:hover {
    opacity: 1;
    visibility: visible;
}

.icons {
    display: flex;
    align-items: center;
    gap: 25px;
}

.icons a {
    color: #000;
    font-size: 18px;
    text-decoration: none;
}

.cart {
    position: relative;
}

.cart span {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 12px;
    font-weight: bold;
}